/* =========================
   Reset e base
========================= */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#home {
	background: #ffc107;
	color: white;
	margin-top: 62px;
}

#home .ajuste {
	margin-left: 60px;
	margin-top: 40px;
	margin-bottom: 0;
}

nav.navbar-transparente {
	padding: 15px 0;
	background-color: #ffc107;
}

.navbar-light .navbar-nav .nav-link {
	color: white;
	padding: 20px;
}

.navbar-link, p {
	color: white;
	text-decoration: none;
	font-weight: bolder;
}

.navbar-link:hover {
	text-decoration: none;
	color: white;
}

.navbar-light .navbar-nav .nav-link:hover {
	color: black;
	text-decoration: none;
}

.navbar-light .navbar-toggler {
	color: rgba(255, 255, 255, 0.5);
	border-color: rgba(255, 255, 255, 0.5);
	padding: 10px 10px;
	margin: 20PX;
	border-radius: 10px;
	border-width: 2px;
}

.divisor {
	width: 1px;
	background: white;
	margin: 12px 15px;
}

.caixa {
	padding: 50px 0;
	border-bottom: 2px solid #e5e5e5;
}

p {
	font-size: larger;
}

footer {
	background-color: #000;
	padding: 50px 20px 20px 20px;
	position: relative;
}

footer #media {
	display: flex;
	margin-left: -15px;
	padding-left: -0px;
}

footer #medias-sociais {
	display: flex;
	margin-left: -15px;
	padding-left: -0px;
}

footer #dev {
	display: flex;
	font-size: 23px;
	color: white;
}

footer #dev:hover {
	text-decoration: none;
	color: white;
}


footer .navbar-nav a {
	display: flex;
	color: white;
	font-size: 1em;
}

footer .navbar-nav a:hover {
	color: #4c3a02;
	text-decoration: none;
}

footer ul {
	list-style: none;
}

footer ul li {
	float: right;
	margin: 0px 5px;
}

.externo::after {
    content:'\1F517';
}

footer h4 {
	color: white;
	font-size: 1em;
	text-transform: uppercase;
}


@media (max-width: 767.98px) { 
    #home .ajuste {
        margin-left: 0; 
    }
    .caixa {
        padding-top: 60px; 
        padding-bottom: 60px;
    }

    .display-3 {
        font-size: 2.5rem; 
    }

    #home {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    footer {
        padding-top: 30px; 
        padding-bottom: 10px;
    }
}

@media (max-width: 767px) {
    .navbar-brand {
      padding: 20px;
    }
}