<header>
  <nav class="navbar navbar-expand-md navbar-light fixed-top navbar-transparente">
    <div class="container">
      <a href="{{BASE}}index.html" class="navbar-brand">
        <img src="{{BASE}}src/imagens/logo.png" width="135">
      </a>

      <button class="navbar-toggler" data-toggle="collapse" data-target="#nav-principal">
        <i class="fas fa-bars text-white"></i>
      </button>

      <div class="collapse navbar-collapse" id="nav-principal">
        <ul class="navbar-nav ml-auto align-items-center">
          <li class="nav-item">
            <a href="{{BASE}}pages/funcionalidades.html" class="nav-link">Funcionalidades</a>
          </li>
          <li class="nav-item">
            <a href="{{BASE}}pages/precos.html" class="nav-link">Preços</a>
          </li>
          <li class="nav-item">
            <a href="{{BASE}}pages/login.html" class="nav-link">Entrar</a>
          </li>
          <li class="nav-item">
            <a href="{{BASE}}pages/cadastro.html" class="btn btn-outline-light ml-2">Cadastro</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>